.noSelect{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.ipAddrInput{   
}
.ipAddrInput >.ui-input-text{
    display:inline-block;
    width:20%;
 }


.volume{
 }
.volume > .value{
    display:inline-block;
    width: 3em;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 1px;
    padding: 0.1em;
    font-size: 1.3em;
    text-align: center;
}
.volume >.ui-btn{
    display:inline-block;
    width:25%;
 }

.ctrlPad{
    width: 200px;    
    height: 200px;
    background: deepskyblue;
    position: relative;
    display:inline-block;
}
.ctrlPadPoint{
    width: 10px;    
    height: 10px;
    background: red;    
    position: absolute;
    top: 95px;
    left: 95px;
}
.ctrlPadResetBtn{
    display:inline-block;
    border-radius: 0.5em;
    width:5em;
    padding:0px;
    margin:0px;
}

.capBox{
    width: 320px;    
    height: 240px;
    background: gray;
    border-style: solid;
    display: block;
}