.ipAddrInput{   
}
.ipAddrInput >.ui-input-text{
    display:inline-block;
    width:20%;
 }

.ctrlPad{
    width: 200px;    
    height: 200px;
    background: deepskyblue;
    position: relative;
}
.ctrlPadPoint{
    width: 10px;    
    height: 10px;
    background: red;    
    position: absolute;
    top: 95px;
    left: 95px;
}

.capBox{
    width: 320px;    
    height: 240px;
    background: gray;
    border-style: solid;
    display: block;
}