.noSelect
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
.pix2em {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1em;
    visibility: hidden;
}

.ipAddrInput
{   
}
.ipAddrInput >.ui-input-text
{
    display:inline-block;
    width:20%;
}

.vButton >.ui-btn
{
    display:inline-block;
    width:49%;
}

.floatDraggingArea{
  position:absolute;
}

.blockBox{
    font-size:0.8em;
}
.materialBox
{
    width:100%;
    height:200px;
    border-style:solid;
    border-width:1px;
    overflow:auto;
    position:relative;
}

.toyBox
{
    width: 100%;
    height:200px;
    border-style:solid;
    border-width:1px;
    overflow:auto;
    position:relative;
}

.factoryBox
{
    width:100%;
    height:200px;
    border-style:solid;
    border-width:1px;
    overflow:auto;
    position:relative;
}

.block{
    font-size:1.0em;
    /* margin:1em; */
    background:yellow;
    position:absolute;
    top:0.0em;
    left:0.0em;
}
.executeNow{
  box-shadow: 0 0 1em 0.5em red;
}
.executeError{
  box-shadow: 0 0 1em 0.5em blue;
}
.block .head_margin{
  position:absolute; 
  height:1.0em;
  width: 10em;
}
.block .parts_margin{ 
  position:absolute; 
  height:0.5em;
  width: 10em;
}
.block .blockRow{
    position:absolute; 
    display:block;
    border-style:solid;
    border-width:1px;
}
.block .blockCell{ 
    position:absolute; 
    white-space: nowrap;
    word-wrap: normal;
}

.block .scope{
    display:block;
    height:1.0em;
    width: 1.0em;
    background:red;
}
.block .space{
    display:block;
    height:0.5em;
    background:red;
}
.block .space .bg{
    background:red;
}

.block .expressions{ 
    /* height: 1.8em; */
    background: red;
    /* text-shadow: 1px 1px 0px blue; */
}
.block .expressions .label{ 
}
.block .expressions .string{ 
    border-style:solid;
    background: white;
    min-width:1em; 
    white-space: nowrap;
    border-width: 1px;
    border-radius: 2px;
    padding: 0.1em;
    z-index:1;
}
.block .expressions .number{ 
    border-style:solid;
}
.block .expressions .bool{ 
    border-style:solid;
}
.block .expressions .options{ 
    border-style:solid;
}

/*Ã£Æ’â€°Ã£Æ’Â©Ã£Æ’Æ’Ã£â€šÂ°Ã¦â„¢â€šÃ£ÂÂ®Ã£Æ’â€™Ã£Æ’Æ’Ã£Æ’Ë†Ã¥Ë†Â¤Ã¥Â®Å¡Ã§â€Â¨*/
.block .hitAreaOrigin{
  position:absolute;  
}
.block .hitAreaIn{
  position:absolute;
  width:2em;
  height:1em;

  background:blue;
  opacity: 0.5;
  visibility: hidden;
}
.block .hitAreaOut{
  position:absolute;
  width:2em;
  height:1em;

  background: blueviolet;
  opacity: 0.5;
  visibility: hidden;
}
.block .hitAreaValueIn{
  position:absolute;
  width: 1.5em;
  height: 1.8em;

  background:yellow;
  opacity: 0.5;
  z-index: 99999;
  visibility: hidden;
}
.block .hitAreaValueOut{
  position:absolute;
  width: 1.5em;
  height: 1.8em;

  background:yellow;
  opacity: 0.5;
  z-index: 99999;
  visibility: hidden;
}
.block .hitAreaScopeOut{
  position:absolute;
  width: 1.5em;
  height: 1.8em;
  background:red;
  opacity: 0.5;
  z-index: 99999;  
  visibility: hidden;
}

.curEditMode{
  background:cyan !important;
}
.curEditModeForDraggable{
}


.testBox{
  display: block;
  position:absolute;
  top:  60px;
  left: 150px;
  border-style:double;
}
.testRow{
  display: block;
  position:absolute;
  border-style:double;
}
.testElm{
  position:absolute;

  border-style: double;
  white-space: nowrap;
  word-wrap: normal;
}
